h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('0', 'Introducción', 'main.html#pages/1-tema.html/')
                    +navTemaItem('1', 'La Información en las organizaciones', 'main.html#page/informacion-organizaciones/')
                    +navTemaItem('2', 'Tipos de sistemas de información', 'main.html#page/tipos-sistemas-de-informacion/')
                    +navTemaItem('3', 'Recolección de datos e información', 'main.html#page/recoleccion-de-datos-informacion/')
                    +navTemaItem('4', 'Actividades que realiza un sistema de información', 'main.html#page/actividades-que-realiza-un-sistema-de-informacion/')