include ../mixins/functions

+pageHeader('Clasificación de la información según normatividad', 'assets/images/header/header_media.svg')

.container
    .header-ecored
        h1 Introducción

    .row.my-5
        .col
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/HBgyl2vrLxw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .card-body.mt-0
                    p En el siguiente material encontrara herramientas necesarias para comprender el funcionamiento de un sistema de información en una organización, ya que son varios los aspectos a tener en cuenta al momento de identificar el tipo que se ajuste a las necesidades, puesto que su uso general es el mismo, las salidas de información son adaptadas para cada necesidad, de acuerdo a quien vaya dirigido. En la actualidad las empresas requieren el uso constante de los sistemas de información en el desarrollo de sus actividades, con el objetivo de volver más eficiente y rentable la operación, satisfacer las necesidades propias y en primer lugar las del cliente, quien no percibe el uso de la herramienta; sin embargo, disfruta de los beneficios, atributos y valor agregado al producto o servicio. 