include ../mixins/functions

+pageHeader('Clasificación de la información según normatividad', 'assets/images/header/header_media.svg')
.container
    .header-ecored
        h1 3. Sistemas de información
    .header
        .card
            .card-body
                .row.my-4
                    .col-12.col-md-6
                        p Teniendo en cuenta el dinamismo de los mercados que se mencionaba anteriormente y específicamente las empresas que están inmersas en él, les ingresan y generan gran cantidad de información relacionada con todas las partes interesadas en su actividad, ya sean proveedores, clientes, el gobierno, otras empresas y hasta la misma comunidad o sociedad que se encuentra en su entorno de acción, y cada una de estas, juega un papel importante en  el logro de los objetivos organizacionales, en la rentabilidad y su sostenibilidad, motivo por el cual se debe tratar adecuadamente todas estas entradas y salidas de información. 

                    .col-12.col-md-6                 
                        .row(style="background:#DCF1FB; border-radius:10px").aligm-items-center
                            .col-1.col-md-1.mt-2.text-center
                                img(src="assets/images/pages/ilustraciones/comilla1.svg")
                            .col-9.col-md-9.mt-2
                                p.mb-0 Según Cobarsí (2011), establece diferentes tipos de sistemas de información, que permiten satisfacer las necesidades específicas en la operación; ya que, de acuerdo con la tendencia del mercado, de forma general estarán enfocados a:
                                ul
                                    li(style="color: #4DD0E0")
                                        p(style="color: #00223D") Aumentar la automatización de procesos operativos.
                                    li(style="color: #4DD0E0")
                                        p(style="color: #00223D") Proporcionar la disponibilidad de información en tiempo real, para la toma de decisiones en diferentes niveles. 
                                    li(style="color: #4DD0E0")    
                                        p(style="color: #00223D") Lograr ventajas competitivas por medio de la implantación y su uso.
                            .col-1.col-md-1.text-center
                                img(src="assets/images/pages/ilustraciones/comilla2.svg" style="margin-top: 16rem")
                                


        .card(style="background-color:#A4DBF5")
            img(src="assets/images/pages/ilustraciones/sistemasbanner.svg" style= "margin-top: -4px").img-fluid            
            .card-body
                .row(style="background-color:#A4DBF5; border-radius: 10px")

                    .col-12.px-0
                    
                        .row.justify-content-center.align-items-center.mx-3.mt-5
                            .col-12-col-md-4.mr-4
                                img(src="assets/images/pages/ilustraciones/gestion1.svg").img-fluid

                                .d-none.d-sm-block.col-2

                            .col-12.col-md-7(style="background-color:#DCF1FB; border-radius: 0px 10px 10px 0px")

                                p(style="padding-top: 2%") 
                                    strong Gestión de la relación con el cliente

                                hr(style="border: 1px solid #A4DBF5")

                                p.mb-3 estos permiten desarrollar estrategias que permitan mantener una estrecha relación con el cliente, permitiendo conocer más afondo sus gustos, expectativas, necesidades previas y nuevas, logrando todos esto con la información que permanente el cliente le brinda a la organización, en este caso este tipo de sistemas de información son denominados CRM de sus siglas en inglés Customer Relationship Managment que traducido al español significa administración de la relación con el cliente, el cual en sus diferentes funciones puede ayudar a establecer los niveles de fidelización de un cliente en donde identificar la frecuencia y cantidad de compra de una serie de productos, marca un patrón y característica de comportamiento, lo cual significa información valiosa para la organización, ya que puede dirigir adecuadamente sus estrategias a su objetivo. 



                        .row.justify-content-center.align-items-center.mx-3.mt-5
                            .col-12-col-md-4.mr-4
                                img(src="assets/images/pages/ilustraciones/gestion2.svg").img-fluid

                                .d-none.d-sm-block.col-2

                            .col-12.col-md-7(style="background-color:#DCF1FB; border-radius: 0px 10px 10px 0px")

                                p(style="padding-top: 2%") 
                                    strong Gestión de la cadena de suministro

                                hr(style="border: 1px solid #A4DBF5")

                                p.mb-3 en este caso también traducido al inglés con sus siglas SCM Supply Chain Management lo que significa la administración en la cadena de suministro, se enfoca en apoyar los procesos logísticos de la organización, empezando con actores como los proveedores de materiales y servicios, y llegando hasta los diferentes clientes. 
                                |Facilitan impactos positivos en las siguientes cuestiones: ajuste de la producción a la demanda, mejora del servicio al cliente, reducción de las ventas perdidas, reducción de los costes de mantenimiento y depreciación del inventario, reducción de costes por obsolescencia, aumento de la eficiencia de las transacciones con los socios, disminución de la edad media del producto servido (Cobarsí, 2011).

                                |Comúnmente el SCM es usado en organizaciones donde tienen un fuerte componente industrial o de manufactura, ya que el flujo de información sobre los diferentes estados de los procesos es continúa durante las 24 horas del día y los 7 días de la semana, es considerablemente grande y en aumento, dependiente del crecimiento o expansión de la empresa. 

                       

                        .row.justify-content-center.align-items-center.mx-3.mt-5
                            .col-12-col-md-4.mr-4
                                img(src="assets/images/pages/ilustraciones/gestion3.svg").img-fluid

                                .d-none.d-sm-block.col-2

                            .col-12.col-md-7(style="background-color:#DCF1FB; border-radius: 0px 10px 10px 0px")

                                p(style="padding-top: 2%") 
                                    strong Gestión integrada de los recursos de la empresa
                                
                                hr(style="border: 1px solid #A4DBF5")

                                p.mb-3 Se conoce como ERP, Enterprise Resource Planning que traducido al español significa sistema de planificación de recursos empresariales.  Este tipo de sistema tiene un enfoque más global que los anteriores, ya que incluye dentro de su alcance las actividades y gestión de la información relacionada con la gestión de proyectos, producción, contabilidad y finanzas, logística – gestión de stock, en la administración de inventarios y los procesos de compra, de igual forma abarca la gestión de recursos humanos. 

                                |Este tipo de sistemas de información, pueden lograr avances y aumento en la efectividad y velocidad de los procesos, generación de reportes en tiempo real, permitiendo tener un mayor control sobre la operación, administración eficiente de los inventarios, logrando reducir su costo en el tiempo, de igual forma puede soportar las estrategias para la mejora en la atención y servicio al cliente. 

        .card(style="background-color:#A4DBF5")
            img(src="assets/images/pages/ilustraciones/sistemasApoyo.svg" style= "margin-top: -4px").img-fluid 
            .card-body
                p.mt-3 Aunque generalmente los sistemas de información permiten una mejor toma de decisiones, este tipo de sistemas integran mayor cantidad de información en un estado en el cual se pueda analizar de forma integral para tener una visión más amplia.   

                .row.justify-content-center.mt-5

                    .col-12.col-md-6.my-6.my-md-0
                        .card(style="border-color:#C3E7F9")
                            .card-body.text-center(style="background-color:#C3E7F9")
                                .avatar.avatar-xxl.card-avatar
                                    img(src="assets/images/pages/ilustraciones/Recurso 22.svg").avatar-img
                                strong Sistema de información para la gestión
                                hr(style="border: 1px solid #8EB5E1")
                                p Según sus siglas en ingles MIS significa management information systems, los cuales permiten generar de forma eficiente reportes para la toma de decisiones en niveles operativos y tácticos de la organización. 
                                |Ejerce control permanente en la operación, generando alertas gráficas y llamativas para tomar acción oportuna, especialmente en áreas de ventas y costos. 


                    .col-12.col-md-6.my-6.my-md-0
                        .card(style="border-color:#C3E7F9")
                            .card-body.text-center(style="background-color:#C3E7F9")
                                .avatar.avatar-xxl.card-avatar
                                    img(src="assets/images/pages/ilustraciones/Recurso 21.svg").avatar-img
                                strong Sistema de apoyo a la decisión
                                hr(style="border: 1px solid #8EB5E1")
                                p Conocido como decision support systems o DSS, estos están enfocados en analizar una mayor cantidad de datos, estableciendo tendencias que permitan proyectar resultados, logro de objetivos, avances en proyectos o demás actividades que puedan soportar la toma de decisiones a nivel directivo. Este tipo de sistema puede apoyar la toma de decisiones por ejemplo en efectividad de la estrategia de distribución de un nuevo producto, permitiendo orientar el camino de los posibles ajustes o cambios que se requieren hacer. 
            


