include ../mixins/functions

+pageHeader('Clasificación de la información según normatividad', 'assets/images/header/header_media.svg')

.container
    .header-ecored
        h1 3. Recolección de datos e información
    .header
        .card
            .card-body
                .row.my-4
                    .col-12.col-md-5
                        p Para realizar un procesamiento adecuado de los datos e información que genera la organización, los sistemas de información requieren tener entradas seguras de dicho insumo, por lo cual se utilizan diferentes medios según la necesidad, dinámica y modelo de la operación, infraestructura, capacidad instalada, entre otros factores determinantes. 

                    .col-12-col-md-6.text-center.ml-3
                        img(src="assets/images/pages/ilustraciones/recoleccion.png").img-fluid
    #tecnicas
    .header-ecored
        h1 3.1	 Técnicas e instrumentos
    .header
        .card
            .card-body
                .row.my-4
                    .col-12.col-md-5
                        p Como se ha mencionado anteriormente, existen diferentes técnicas y medios para entrada de datos a un sistema de información. En el caso de la recolección, las organizaciones pueden apoyarse utilizando diferentes técnicas tales como:

                    .col-12-col-md-6.text-center.ml-3
                        img(src="assets/images/pages/ilustraciones/tecnicas.png").img-fluid

            .row.justify-content-center.align-items-center.mx-3(style="border-radius: 10px; background-color:#C3E7F9;")

                .col-2.justify-content-center.align-items-center

                        img(src="assets/images/pages/ilustraciones/Recurso 26.svg", style="width: 60%").rounded.mx-auto.d-block

                .col-10(style="background-color:#DCF1FB; border-radius: 0px 10px 10px 0px")

                    p(style="padding-top: 2%") 
                        
                        strong La observación

                    hr(style="border: 1px solid #8EB5E1")

                    p Técnica por la cual se utiliza la vista como medio de captura de datos, de una forma organizada y planificada, ya que el lugar, el momento y la forma es clave para la objetividad y calidad, la observación puede ser estructurada y no estructurada. Ejemplo de la técnica de observaciones es: en el caso de un supervisor puede utilizar la técnica de observación para establecer la forma que realiza el cargue y descargue de mercancía en un centro de distribución, estableciendo algunos parámetros en la utilización de los elementos de protección personal y la pericia en la operación de un equipo montacargas.  

            .row.justify-content-center.align-items-center.mx-3.mt-5(style="border-radius: 10px; background-color:#C3E7F9;")

                .col-2.justify-content-center.align-items-center

                        img(src="assets/images/pages/ilustraciones/Recurso 25.svg", style="width: 60%").rounded.mx-auto.d-block

                .col-10(style="background-color:#DCF1FB; border-radius: 0px 10px 10px 0px")

                    p(style="padding-top: 2%") 
                        
                        strong La entrevista

                    hr(style="border: 1px solid #8EB5E1")

                    p Técnica por la cual se desarrolla una conversación con un objetivo y propósito concreto, dado que todas las preguntas van encaminadas a su logro, recopilando información necesaria para una posterior toma de decisiones. Ejemplo de esta técnica, son las entrevistas laborales, las cuales están encaminadas a definir si un determinado candidato cuenta con el perfil o las características que requiere un cargo dentro de la organización.  

            .row.justify-content-center.align-items-center.mx-3.mt-5(style="border-radius: 10px; background-color:#C3E7F9;")

                .col-2.justify-content-center.align-items-center

                        img(src="assets/images/pages/ilustraciones/Recurso 11.svg", style="width: 60%").rounded.mx-auto.d-block

                .col-10(style="background-color:#DCF1FB; border-radius: 0px 10px 10px 0px")

                    p(style="padding-top: 2%") 
                        
                        strong La encuesta

                    hr(style="border: 1px solid #8EB5E1")

                    p Son preguntas estructuradas que pretenden la mayor cantidad de información sobre un tema en especial, en una muestra representativa de la población objetivo. Por ejemplo: aplicar una encuesta para establecer la percepción de los trabajadores de las áreas administrativas de la organización, frente al uso del sistema de información implementado recientemente. 

            .row.justify-content-center.align-items-center.mx-3.mt-5.mb-3(style="border-radius: 10px; background-color:#C3E7F9;")

                .col-2.justify-content-center.align-items-center

                        img(src="assets/images/pages/ilustraciones/Recurso 23.svg", style="width: 60%").rounded.mx-auto.d-block

                .col-10(style="background-color:#DCF1FB; border-radius: 0px 10px 10px 0px")

                    p(style="padding-top: 2%") 
                        
                        strong Diagrama de flujo

                    hr(style="border: 1px solid #8EB5E1")

                    p En esta técnica, se utiliza una representación de un proceso o actividad, por medio de símbolos, los cuales de manera gráfica permiten recolectar información fácilmente entendible. Por ejemplo, un diagrama de flujo del proceso de alistamiento y despacho de pedidos en un centro de distribución. 
    #clasificacion
    .header-ecored
        h1 3.2 Clasificación de la información
    .header  
         .card
            .card-body
                p Según la Real Academia Española, el término clasificar significa ordenar o disponer por clases algo. Acorde al origen y el tipo de información así se podría clasificar, dado que su uso será diferente y así mismo los perfiles de usuario que acceden a ella. Por ejemplo: un operario de empaque puede acceder a la información de los turnos de trabajo o de los pedidos pendientes, por el contrario, no podría acceder a la información de las cuentas por cobrar en el área contable y financiera; para esto, los sistemas de información deben de contar con permisos y restricciones para su acceso. Esto no solo ocurre en niveles operativos, muy probablemente el director general de la empresa no tendrá acceso directo al nivel de producción de cada operario, pero sí al nivel de producción diario o por turno. 

            
                img(src="assets/images/pages/ilustraciones/clasificacion.png").img-fluid.mt-3

    #fichas
    .header-ecored
        h1 3.3	 Fichas técnicas
    .header
        .card
            .card-body
                .row.my-4
                    .col-12.col-md-5
                        p Las fichas técnicas hacen referencia a la descripción de las características de un producto, bien o servicio, de una forma técnica y detallada, identificando los elementos importantes que generalmente define su fabricante con el fin de poder, en determinado momento, validar si el elemento cumple con las especificaciones iniciales para dar un tratamiento adecuado en el cargue, transporte, ubicación, almacenamiento y uso del producto. Sobre la ficha técnica se puede aplicar la solicitud de garantía en caso de no cumplir con las especificaciones, convirtiéndose en un elemento que contiene información importante dentro de un proceso.

                    .col-12-col-md-6.text-center.ml-3
                        img(src="assets/images/pages/ilustraciones/fichas.png").img-fluid                

        .card-a.mt-3
            img(src="assets/images/pages/ilustraciones/formato2.png" style= "margin-top: -4px").img-fluid    

            a.btn-a(href="media/documentos/Anexo-Modelo_de_ficha_tecnica.xlsx" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/Recurso 30.svg", alt="").media-link-icon

                .media-link-title
                    p #[strong Anexo]. Modelo de Ficha Técnica  

    #fuentes
    .header-ecored
        h1 3.4 Fuentes de la información
    .header
        .card
            img(src="assets/images/pages/ilustraciones/fuentes.png").img-fluid  
            .card-body
                

                p.mt-3  Para un sistema de información, la fuente está relacionada con el origen de los datos que le ingresan, es decir, de donde proviene. Estas fuentes pueden ser diversas, internas o externas a la organización.

            .row.justify-content-center.align-items-center.mx-3.mt-5(style="border-radius: 10px; background-color:#C3E7F9;")

                .col-2.justify-content-center.align-items-center

                    img(src="assets/images/pages/ilustraciones/Recurso 20.svg", style="width: 60%").rounded.mx-auto.d-block

                .col-10(style="background-color:#DCF1FB; border-radius: 0px 10px 10px 0px")

                    p(style="padding-top: 2%") 
                        
                        strong Fuentes internos

                    hr(style="border: 1px solid #8EB5E1")

                    p Este tipo de fuentes están en el interior de la organización, pueden ser los diferentes procesos que la conforman, por ejemplo: solicitud de materiales del proceso mantenimiento de infraestructura, cantidad de unidades pedidas de una misma referencia por el proceso de ventas. 

            .row.justify-content-center.align-items-center.mx-3.mt-5.mb-3(style="border-radius: 10px; background-color:#C3E7F9;")

                .col-2.justify-content-center.align-items-center

                    img(src="assets/images/pages/ilustraciones/Recurso 19.svg", style="width: 60%").rounded.mx-auto.d-block

                .col-10(style="background-color:#DCF1FB; border-radius: 0px 10px 10px 0px")

                    p(style="padding-top: 2%") 
                        
                        strong Fuentes externas

                    hr(style="border: 1px solid #8EB5E1")

                    p Cuando los datos provienen de partes interesadas externas a la organización. Por ejemplo: reclamos realizados por un cliente por recibir productos diferentes o cantidades diferentes a las solicitadas.
    .header  
         .card
            .card-body.mb-5
                p.mt-3  Las fuentes de datos también se pueden clasificar de acuerdo con el nivel de procesamiento antes de ingresar a un sistema de información, por lo que se puede indicar que las fuentes pueden ser primarias o secundarias.

            .row.justify-content-center.align-items-center.mx-3.mt-5(style="border-radius: 10px; background-color:#C3E7F9;")

                .col-2.justify-content-center.align-items-center

                    img(src="assets/images/pages/ilustraciones/Recurso 18.svg", style="width: 60%").rounded.mx-auto.d-block

                .col-10(style="background-color:#DCF1FB; border-radius: 0px 10px 10px 0px")

                    p(style="padding-top: 2%") 
                        
                        strong Fuentes primarias

                    hr(style="border: 1px solid #8EB5E1")

                    p Están relacionadas con las fuentes donde se genera la información y tiene autoría de ello, es decir, donde se produce originalmente. Por ejemplo: es necesario determinar el nivel de satisfacción de los clientes de la organización, la cual envía una encuesta virtual a cada uno de los líderes de compras de los clientes para obtener su percepción. Para adquirir este tipo de información se requiere disponer de recursos económicos y de tiempo para su búsqueda, recolección y producción. 

            .row.justify-content-center.align-items-center.mx-3.mt-5.mb-3(style="border-radius: 10px; background-color:#C3E7F9;")

                .col-2.justify-content-center.align-items-center

                    img(src="assets/images/pages/ilustraciones/Recurso 17.svg", style="width: 60%").rounded.mx-auto.d-block

                .col-10(style="background-color:#DCF1FB; border-radius: 0px 10px 10px 0px")

                    p(style="padding-top: 2%") 
                        
                        strong Fuentes secundarias

                    hr(style="border: 1px solid #8EB5E1")

                    p Son el tipo de fuentes cuyos datos ya han sido procesados y convertidos en reportes, informes u otro tipo de información. Por ejemplo: se proyecta participar en un nuevo mercado con el producto estrella de la empresa, el cual está dirigido a los estratos socioeconómicos 2 y 3 de la ciudad, dado que esta información ya ha sido documentada y procesada, la alcaldía municipal suministrará la información, actuando como una fuente secundaria. En este caso, una de las ventajas de las fuentes secundarias es su disponibilidad y la facilidad de acceso, lo cual reduce el tiempo y el costo de estas.                      