.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                th.text-center Enlace del Recurso o Archivo del documento o material  

        tbody
            tr
                td
                    strong Ingeniería de software I - Tema 2 - Sistemas de información
                td PDF
                td 
                    a(href="media/documentos/MC_Ingenieria_de_software_I_Tema_2_Sistemas_de_informacion.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td 
                    strong La gestión de información y sus recursos (Parte I)   
                td PDF
                td 
                    a(href="media/documentos/MC_La_gestion_de_informacion_y_sus_recursos_Parte_I.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


            tr
                td 
                    strong Los Sistemas de Información - Evolución y Desarrollo
                td PDF
                td 
                    a(href="media/documentos/MC_LosSistemas_de_Informacion_Evolucion_y_Desarrollo.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td 
                    strong Metodología para escaneo rápido de centros de distribución
                td PDF
                td 
                    a(href="media/documentos/MC_Metodologia_para_escaneo_rapido_de_centros_de_distribucion.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar