.bg-color-naranja {
  background-color: orange;
}

.text-black{
  color:black;
}

.text-blue{
  color: #4DD0E0
} 

.custom-item-img {
  flex: 0 0 120px;
  overflow: hidden;
  margin-right: 2rem;
}

.card-a {
  position: relative;
  display: inline-block;
  text-align: center;
}

.btn-a {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-a {
  display: block;
  margin: auto;
}

// Estilos tema 1

.img-card {
  border-radius: 10px;
  background-color: #c3e7f9;
}

.img-t {
  width: 60%;
}

.card-text-1 {
  background-color: #dcf1fb;
  border-radius: 0px 10px 10px 0px;
}

.bd-hr {
  border: 1px solid #8eb5e1;
}

.img-card-2{
  background-color:#FFFFFF;
  border-radius: 10px;
}

.bd-hr-1{
  border: 1px solid #A4DBF5;
}

.bd-color{
  border-color:#C3E7F9;
}

.bg-color-1{
  background-color:#C3E7F9;
}

// Estilos tema 2

.bg-color-2{
  background-color:#A4DBF5;
}

.bg-bd-color{
  background-color:#A4DBF5;
  border-radius: 10px;
}

// Estilos tema 4

.img-card-1 {
  border-radius: 10px;
  background-color: #E0F5FF;
}

.text-2{
  font-size: 20px;
  color:white;
}

.bg-color-3{
  background-color: #36AFEA;
}

.bg-color-4{
  background-color:#D4F4F7;
}